*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777; }

.auth__card {
  position: absolute;
  right: 45rem;
  top: 10rem;
  width: 40rem;
  height: 40rem;
  display: inline-block;
  text-align: center;
  background: #fff;
  border-radius: 100%; }

.home {
  background-image: linear-gradient(to right bottom, #00fcd2, #1760fd);
  height: 100vh;
  position: relative;
  background-size: cover; }
