*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777; }

.logout__button {
  border: none;
  background: none; }

.auth__card {
  position: absolute;
  right: 45rem;
  top: 10rem;
  text-transform: uppercase;
  width: 40rem;
  height: 40rem;
  display: inline-block;
  text-align: center;
  background: #fff;
  border-radius: 100%;
  border: 1rem solid; }
  .auth__card-text {
    margin-top: 10rem; }

.mb__card {
  margin-left: 48rem;
  margin-top: 5rem;
  text-transform: uppercase;
  width: 40rem;
  height: 20rem;
  display: inline-block;
  text-align: center;
  background: #fff;
  border-radius: 5%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .mb__card-text {
    margin-top: 2rem; }

.messenger__card {
  margin-left: 48rem;
  margin-top: 5rem;
  text-transform: uppercase;
  width: 40rem;
  height: 20rem;
  display: inline-block;
  text-align: center;
  background: #fff;
  border-radius: 5%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .messenger__card-text {
    margin-top: 2rem; }

.message__card {
  max-width: 40rem;
  height: auto;
  margin-left: 48rem;
  background-color: #fff;
  border-radius: 5%;
  margin-top: 2rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .message__card-text {
    padding: 1rem; }

@media only screen and (max-width: 560px) {
  .auth__card {
    position: absolute;
    right: 1rem;
    top: 8rem;
    text-transform: uppercase;
    width: 30rem;
    height: 30rem;
    display: inline-block;
    text-align: center;
    background: #fff;
    border-radius: 100%;
    border: 1rem solid; }
    .auth__card-text {
      margin-top: 6rem; }
  .mb__card {
    margin-left: 2rem;
    margin-top: 10rem;
    text-transform: uppercase;
    width: 30rem;
    height: 20rem;
    display: inline-block;
    text-align: center;
    background: #fff;
    border-radius: 5%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .mb__card-text {
      margin-top: 2rem; }
  .messenger__card {
    margin-left: 2rem;
    margin-top: 5rem;
    text-transform: uppercase;
    width: 30rem;
    height: 20rem;
    display: inline-block;
    text-align: center;
    background: #fff;
    border-radius: 5%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .messenger__card-text {
      margin-top: 2rem; } }

.mb__listitem {
  text-decoration: none;
  margin-left: 48rem;
  margin-top: 2rem;
  text-transform: uppercase;
  width: 40rem;
  height: 10rem;
  display: inline-block;
  text-align: center;
  border-radius: 5%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  background-color: #fff; }
  .mb__listitemdiv:first-child {
    margin-top: 1rem;
    color: #777; }
  .mb__listitem-email {
    padding: 1rem;
    color: #777; }

@media only screen and (max-width: 560px) {
  .mb__listitem {
    text-decoration: none;
    margin-left: 2rem;
    margin-top: 2rem;
    text-transform: uppercase;
    width: 30rem;
    height: 10rem;
    display: inline-block;
    text-align: center;
    border-radius: 5%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    background-color: #fff; }
    .mb__listitemdiv:first-child {
      margin-top: 1rem;
      color: #777; }
    .mb__listitem-email {
      padding: 1rem;
      color: #777; } }

.logout {
  position: fixed;
  width: 8rem;
  height: 8rem;
  top: 6rem;
  right: 6rem;
  border-radius: 100%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  text-align: center;
  background-color: #fff; }
  .logout-text {
    margin-top: 2rem;
    font-size: 2rem;
    color: #777; }
  .logout__button {
    font-size: 2rem;
    color: #777; }

.back {
  position: fixed;
  width: 8rem;
  height: 8rem;
  top: 6rem;
  right: 6rem;
  border-radius: 100%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  text-align: center; }
  .back-text {
    margin-top: 2rem;
    font-size: 2rem;
    color: #777; }

@media only screen and (max-width: 560px) {
  .logout {
    position: fixed;
    width: 8rem;
    height: 8rem;
    top: 1rem;
    right: 13rem;
    border-radius: 100%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #fff; }
    .logout-text {
      margin-top: 2rem;
      font-size: 2rem;
      color: #777; }
    .logout__button {
      font-size: 2rem;
      color: #777; } }

.home {
  background-image: url(../img/letters.jpg);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat; }
