.auth__card{
    position: absolute;
    right:45rem;
    top: 10rem;
    text-transform: uppercase;
    width:40rem;
    height:40rem;
    display: inline-block;
    text-align: center;
    background: $color-white;
    border-radius: 100%;

    &-text{
        margin-top: 10rem;
    }

}