.auth__card{
    position: absolute;
    right:45rem;
    top: 10rem;
    text-transform: uppercase;
    width:40rem;
    height:40rem;
    display: inline-block;
    text-align: center;
    background: $color-white;
    border-radius: 100%;
    //box-shadow: 1rem 1rem 1rem rgba($color-black, .15);
    border: 1rem solid;


    &-text{
        margin-top: 10rem;
    }

}

.mb__card{

    
    margin-left:48rem;
    margin-top: 5rem;
    text-transform: uppercase;
    width:40rem;
    height:20rem;
    display: inline-block;
    text-align: center;
    background: $color-white;
    border-radius: 5%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);


    &-text{

        margin-top: 2rem
    }
}

.messenger__card{
    margin-left:48rem;
    margin-top: 5rem;
    text-transform: uppercase;
    width:40rem;
    height:20rem;
    display: inline-block;
    text-align: center;
    background: $color-white;
    border-radius: 5%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &-text{
        margin-top: 2rem;
    }
}

.message__card{
    max-width: 40rem;
    height: auto ;
    margin-left:48rem;
    background-color: #fff;
    border-radius: 5%;
    margin-top: 2rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    
    &-text{
        padding: 1rem;
    }
    
}

@media only screen and (max-width: 560px) {
    .auth__card{
        position: absolute;
        right:1rem;
        top: 8rem;
        text-transform: uppercase;
        width:30rem;
        height:30rem;
        display: inline-block;
        text-align: center;
        background: $color-white;
        border-radius: 100%;
        //box-shadow: 1rem 1rem 1rem rgba($color-black, .15);
        border: 1rem solid;
    
    
        &-text{
            margin-top: 6rem;
        }
    
    }

    .mb__card{

    
        margin-left:2rem;
        margin-top: 10rem;
        text-transform: uppercase;
        width:30rem;
        height:20rem;
        display: inline-block;
        text-align: center;
        background: $color-white;
        border-radius: 5%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    
    
        &-text{
    
            margin-top: 2rem
        }
    }

    .messenger__card{
        margin-left:2rem;
        margin-top: 5rem;
        text-transform: uppercase;
        width:30rem;
        height:20rem;
        display: inline-block;
        text-align: center;
        background: $color-white;
        border-radius: 5%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    
        &-text{
            margin-top: 2rem;
        }
    }
    
}
