.home {
    
    background-image:  url(../img/letters.jpg);
    height:100vh;
    position: relative; 
    background-size: cover;
    
    
  
    
  

  }

  @media only screen and (max-width: 600px) {
    
  }
  