.ahome{
  height: 100vh;
  background-image:  url(../img/letters.jpg);
    
    
    //background-size: cover;
    background-size: cover;
    
    
    background-repeat: no-repeat;
}
.home {
    
    background-image:  url(../img/letters.jpg);
    
    
    //background-size: cover;
    background-size: cover;
    
    
    background-repeat: no-repeat;
    background-attachment: fixed;

    
  
    
  

  }

  
  