.logout{
        position:fixed;
        width: 8rem;
        height: 8rem;
        top:6rem;
        right: 6rem;
        border-radius: 100%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .5);
        text-align: center;
        background-color: $color-white;
        
        
        &-text{
            margin-top: 2rem;
            font-size: 2rem;
            color: $color-grey-dark;
            
        }

        &__button{
            font-size: 2rem;
            color: $color-grey-dark;
        }
}

.back{
    position:fixed;
        width: 8rem;
        height: 8rem;
        top:6rem;
        right: 6rem;
        border-radius: 100%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .5);
        text-align: center;
        
        &-text{
            margin-top: 2rem;
            font-size: 2rem;
            color: $color-grey-dark;
        }
}

@media only screen and (max-width: 560px) {
.logout{
    position:fixed;
    width: 8rem;
    height: 8rem;
    top:1rem;
    right: 13rem;
    border-radius: 100%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, .2);
    text-align: center;
    background-color: $color-white;
    
    
    &-text{
        margin-top: 2rem;
        font-size: 2rem;
        color: $color-grey-dark;
        
    }

    &__button{
        font-size: 2rem;
        color: $color-grey-dark
    }
}

.back{
    position:fixed;
        width: 8rem;
        height: 8rem;
        top:1rem;
        right: 13rem;
        border-radius: 100%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .2);
        text-align: center;
        background-color: $color-white;
        
        &-text{
            margin-top: 2rem;
            font-size: 2rem;
            color: $color-grey-dark;
        }
}
}